@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3vh;
  background-color: #27374D;
}

@media (min-width: 200px) {
  .home {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3vh;
    background-color: #27374D;
  }
  .home .bigBlok {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home h1, .home h4, .home h3, .home small, .home p {
    color: #DDE6ED;
  }
  .home .blok {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    align-items: center;
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
  .home article {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526D82;
    padding: 3%;
    width: 90%;
    border-radius: 10px;
  }
  .home article h3 {
    background-color: #27374D;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-size: 4vh;
  }
  .home article section {
    display: flex;
    flex-direction: column;
    row-gap: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home article section p {
    text-align: center;
  }
  .home article section aside {
    display: flex;
    flex-direction: column;
    row-gap: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home #language section, .home #education section {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  .home #language h4, .home #education h4 {
    font-size: 12px;
    text-align: center;
  }
  .home #language small, .home #education small {
    font-size: 10px;
  }
  .home #language p, .home #education p {
    font-size: 11px;
  }
  .home figure {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .home figure small {
    height: 4px;
    background: linear-gradient(90deg, #27374D 0%, transparent 100%);
  }
  .home img {
    width: 10%;
  }
}
@media (min-width: 200px) {
  .gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #27374D;
    padding: 2%;
  }
  .gallery h1, .gallery h3, .gallery small {
    color: #DDE6ED;
  }
  .gallery h1 {
    padding-bottom: 3%;
  }
  .gallery aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 2vh;
    -moz-column-gap: 2vh;
         column-gap: 2vh;
  }
  .gallery .pic {
    width: 80%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #526D82;
    border-radius: 20px;
  }
  .gallery .pic a {
    text-decoration: none;
  }
  .gallery figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    padding: 2%;
  }
  .gallery figure small {
    font-size: 17px;
  }
  .gallery figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 83%;
    row-gap: 2vh;
  }
  .gallery img {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
@media (min-width: 200px) {
  .about {
    width: 85%;
    background-color: #526D82;
    border-radius: 13px;
    padding: 2%;
  }
  .about h1, .about h3, .about small, .about p {
    color: #DDE6ED;
  }
  .about img {
    width: 50%;
    border-radius: 13px;
  }
  .about figure {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about figcaption {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    text-align: center;
  }
  .blok {
    padding-bottom: 3vh;
  }
  .download {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #526D82;
    width: 100%;
    padding: 9%;
    border-radius: 10px;
  }
  .download a {
    text-decoration: none;
    color: #DDE6ED;
  }
}
@media (min-width: 200px) {
  .class-04-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #27374D;
    height: 60vh;
    width: 100%;
  }
  .class-04-header .header-left {
    height: 100%;
    width: 50%;
    background-color: rgba(240, 240, 240, 0.57);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .class-04-header .header-left {
    color: #27374D;
  }
  .class-04-header div {
    display: flex;
    flex-direction: column;
    row-gap: 2vh;
    align-items: center;
    text-align: center;
  }
  .class-04-header div p {
    font-weight: 600;
    font-size: 20px;
  }
}
@media (min-width: 200px) {
  .modal-box {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }
  .modal-box .modal-content {
    background-color: #27374D;
    margin: 2% auto;
    padding: 25px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 65%;
    color: #DDE6ED;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
  }
  .modal-box .modal-content > aside {
    justify-content: end;
    width: 100%;
  }
  .modal-box .close {
    display: flex;
    color: white;
    cursor: pointer;
    float: right;
    font-size: 28px;
    width: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }
  .modal-box .close:hover {
    background-color: black;
  }
  .modal-box h1, .modal-box h3, .modal-box small, .modal-box p {
    color: #DDE6ED;
  }
  .modal-box h1 {
    font-size: 24px;
    padding-bottom: 3%;
  }
  .modal-box h3 {
    font-size: 30px;
  }
  .modal-box small {
    font-size: 20px;
  }
  .modal-box .pic {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    background-color: #526D82;
  }
  .modal-box figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3vh;
    padding: 2%;
  }
  .modal-box figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 83%;
    row-gap: 2vh;
  }
  .modal-box img {
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
@media (min-width: 600px) {
  .home #language section, .home #education section {
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    -moz-column-gap: 0vh;
         column-gap: 0vh;
  }
  .home #language h4, .home #education h4 {
    font-size: 20px;
  }
  .home #language small, .home #education small {
    font-size: 15px;
  }
  .home #language p, .home #education p {
    font-size: 17px;
  }
}
@media (min-width: 600px) {
  .gallery .pic {
    width: 47%;
  }
}
@media (min-width: 600px) {
  .modal-box h1 {
    font-size: 33px;
  }
  .modal-box p {
    font-size: 20px;
  }
  .modal-box .pic {
    width: 90%;
  }
}
@media (min-width: 1000px) {
  .home .bigBlok {
    display: flex;
    flex-direction: row;
    -moz-column-gap: 1vh;
         column-gap: 1vh;
    align-items: normal;
  }
  .home .bigBlok #skills {
    width: 80%;
  }
}
@media (min-width: 1000px) {
  .about {
    padding: 3%;
  }
  .about figure {
    display: block;
  }
  .about figcaption {
    display: block;
  }
  .about .profile-image {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 10%;
  }
}/*# sourceMappingURL=style.css.map */