@media (min-width: $mobileVersion) {
    .class-04-header {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: #27374D;
        height: 60vh;
        width: 100%;
        .header-left {
            height: 100%;
            width: 50%;
            background-color: rgb(240 240 240 / 57%);
            display: flex;
            align-items: center;
            justify-content: center;
        }
    
        .header-left {
            color: #27374D;
        }
    
        div{
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            align-items: center;
            text-align: center;
            p{
                font-weight: 600;
                font-size: 20px;
            }
        }
    }
}
