@media (min-width: $tabletVersion) {
    .modal-box{
        h1{
            font-size: 33px;
        }
        p{
            font-size: 20px;
        }
        .pic{
            width: 90%;
        }
    }
}
